<a href="https://colab.research.google.com/github/JennEYoon/code24/blob/main/pandas/pandas_to_excel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# Practice, Pandas and Excel file format

import pandas as pd
from pandas import ExcelWriter as writer

data = {'employees':['Mary', 'Hank', 'Jennifer', 'Joo-In'], 'hire_date':['2000', '1998', '1992', '2012']}
df1 = pd.DataFrame(data)
print(df1.head())

with writer('employees.xlsx') as f:
  df1.to_excel(f, sheet_name='Sheet_1')

  employees hire_date
0      Mary      2000
1      Hank      1998
2  Jennifer      1992
3    Joo-In      2012

In [30]:
data2 = {'employees':['Mary', 'Joo-In', 'Hank', 'Jennifer'], 'salary':[102, 58, 115, 220]}
print(data2)
df2 = pd.DataFrame(data2)
print(df2.head())

{'employees': ['Mary', 'Joo-In', 'Hank', 'Jennifer'], 'salary': [102, 58, 115, 220]}
  employees  salary
0      Mary     102
1    Joo-In      58
2      Hank     115
3  Jennifer     220

In [31]:
df3= pd.merge(df1, df2)
print(df3.head())

  employees hire_date  salary
0      Mary      2000     102
1      Hank      1998     115
2  Jennifer      1992     220
3    Joo-In      2012      58

In [ ]:
# Practice, Pandas and Excel file format

import pandas as pd
import ExcelWriter as writer

data = {('employees': 'Mary', 'Hank', 'Jennifer', 'Joo-In'), ('hire_date': '2000', '1998', '1992', '2012')}
df1 = pd.DataFrame(data)

print(df.head())
file ='/contents/salary.xls.sheet1')
df1.to_excel(writer, file)



# Save df1 to Sheet1, df2 to Sheet2